<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav>
    <div class="logo">
        <a href="index.php">
            <img src="../../public_html/img/inteReview_logo.png" alt="Home">
        </a>
    </div>
    <a href="signup.php"><i class="fa fa-fw fa-user"></i> Sign Up</a>
    <a href="login.php"><i class="fa fa-fw fa-user"></i> Login</a>
    <a href="review_employer.php"><i class="fa fa-fw fa-envelope"></i>Review an Employer</a>
    <a href="employer_overview.php?employer=9079"><i class="fa fa-fw fa-search"></i>Employer Overview</a>
    <a class="active" href="index.php"><i class="fa fa-fw fa-home"></i>Home</a>
</nav>
